/* width fr size = the width of each column = ((width of viewport - width of nav) / number of columns) * 1% */
/* .wrapper{
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(4,1fr);
    grid-auto-flow: column;
} */

.wrapper{
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: 1.5fr;
    grid-auto-columns: 1.5fr;
}
 /*auto-fit:화면에맞수만 auto-fill:화면갯수맞춰증는갯가*/
 /*auto-fit auto-fill 효과 보려면 1fr(x) %(x; 넘침) px단위 이용해야할듯*/

.box{
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.a {
    grid-column:2;
}