* {box-sizing:border-box}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px 100px;
    grid-gap: 20px;
    grid-auto-flow: column; /*default: row*/
}

.grid div:nth-child(2) {
    order:1;
}
.grid div:nth-child(4) {
    order:2;
}

.grid div {
    order: 3;
    border: 1px solid rgb(0,95,107);
    border-radius: 3px;
    background-color: rgba(0,95,107,0.8);
    padding:0.2em;
    color:#fff;
    font-size:120%;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block; /*remove extra space below image*/
}