/* float overflow */

* {box-sizing:border-box}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px 100px;
    grid-gap: 20px;
    grid-auto-flow: column; /*default: row*/
}

.grid div:nth-child(2) {
    order:1;
}
.grid div:nth-child(4) {
    order:2;
}

.grid div {
    order: 3;
    border: 1px solid rgb(0,95,107);
    border-radius: 3px;
    padding:0.2em;
    color:#fff;
    font-size:150%;
    font-weight:bold;
    padding:0%;
}

.grid div:nth-child(even) {
    background:dodgerblue;
    background-size: cover;
    /* background-size: 100%;  standard: the width of hte image, height: auto*/
    background-repeat: no-repeat;
    background-position: center;
}

.grid div:nth-child(odd) {
    background:deepskyblue;
    background-size: cover;
    /* background-size: 100%;  standard: the width of hte image, height: auto*/
    background-repeat: no-repeat;
    background-position: center;
}

.grid div:nth-child(1){
    background-image: url(img/almond.jpg);
}
.grid div:nth-child(2){
    background-image: url(img/cashew.jpg);
}
.grid div:nth-child(3){
    background-image: url(img/hazelnut.jpg);
}
.grid div:nth-child(4){
    background-image: url(img/nut\ eater.jpg);
}
.grid div:nth-child(5){
    background-image: url(img/peacan.jpg);
}
.grid div:nth-child(6){
    background-image: url(img/peanut.jpg);
}
.grid div:nth-child(7){
    background-image: url(img/pistachio.jpg);
}
.grid div:nth-child(8){
    background-image: url(img/walnut.jpg);
}

/* img{
    max-width: 100%;
    display: block;
    object-fit: fill;
} */