body{
    margin: 40px;
}
.sidebar{
    grid-area:sidebar;
}
.content{
    grid-area: content;
}
.header{
    grid-area:header;
}

.wrapper{
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-areas: 
        ".... header header"
        "sidebar content content";
    grid-gap: 10px;
    grid-auto-flow: row;
}

.box{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #444;
    padding: 20px;
    font-size: 150%;
    color: white;
}

.header{
    background-color: gray;
}

