body{
    margin: 40px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    grid-auto-flow: row;
}

.box{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #444;
    padding: 20px;
    font-size: 150%;
    color: white;
}

/* .a{order:2;}
.b{order:5;}
.c{order:6;}
.d{order:1;}
.e{order:4;}
.f{order:3;} */

/* .a{grid-column:2;}
.b{grid-column:2;grid-row:2;}
.c{grid-column:3;grid-row:2;}
.d{grid-column:1;grid-row:1;}
.e{grid-column:1;grid-row:2;}
.f{grid-column:3;grid-row:1;} */

/* .a{grid-column:2;}
.b{grid-column:2;grid-row:2;}
.c{grid-column:3;grid-row:2;}
.d{grid-column:1;grid-row:1;}
.e{grid-column:1;}
.f{grid-column:3;grid-row:1;} */

/* .a{grid-area:1/2/2/3;}
.b{grid-area:2/2/3/3;}
.c{grid-area:2/3/3/4;}
.d{grid-area:1/1/2/2;}
.e{grid-area:2/1/3/2;}
.f{grid-area:1/3/2/4;} */
