body{
    margin: 40px;
}

.wrapper{
    display: grid;
    grid-template-columns: [col1] 100px [col2] 100px [col3] 100px [col4];
    grid-template-rows: [row1] auto [row2] auto [row3];
    grid-gap: 10px;
    grid-auto-flow: row;
}

.box{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #444;
    padding: 20px;
    font-size: 150%;
    color: white;
}

/* .a{grid-column:1/3;}
.b{grid-column:3/4; grid-row:1/3;} */

/* .a{grid-column: span 2;}
.b{grid-row: span 2;} */

.a{grid-column: col1/col3;}
.b{grid-column: col3/4; grid-row: row1/row3;}
